version: '3'

services:

  nginx:
    image: nginx
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ../../nextcloud/html:/var/www/html:ro
    links:
      - nextcloud-fpm
      - collab
    environment:
      - VIRTUAL_HOST={DOMAIN_NEXTCLOUD}
      - VIRTUAL_NETWORK=nginx-proxy
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST={DOMAIN_NEXTCLOUD}
      - LETSENCRYPT_EMAIL={EMAIL_NEXTCLOUD}
    networks:
      - proxy-tier
    restart: unless-stopped

  nextcloud-fpm:
    image: nextcloud:fpm
    container_name: nextcloud-fpm
    links:
      - db
      - redis
    volumes:
      - ../../nextcloud/html:/var/www/html
    networks:
      - proxy-tier
    restart: unless-stopped

  db:
    image: mariadb
    container_name: db
    volumes:
      - ../../nextcloud/db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={ROOT_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD={MYSQL_PASSWORD}
    networks:
      - proxy-tier
    restart: unless-stopped

  redis:
    image: redis:alpine
    container_name: redis
    volumes:
      - ../../nextcloud/redis:/data
    networks:
      - proxy-tier
    restart: unless-stopped

  collab:
    image: collabora/code
    container_name: collab
    environment:
      - domain={DOMAIN_NEXTCLOUD}
    cap_add:
      - MKNOD
    networks:
      - proxy-tier
    restart: unless-stopped

networks:
  proxy-tier:
    external:
      name: nginx-proxy
